тз* {
  margin: 0;
  padding: 0;
}

body {
  background: greenyellow;
}
/* .container {
  width: 90%;
  margin: 0 auto;
} */

.main_game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.game {
  padding: 30px;
  width: 480px;
  height: 350px;
  background-color: aliceblue;
  border-radius: 14px;
}

.game h1 {
  margin-bottom: 34px;
}
ul {
  list-style: none;
}

.game li {
  padding: 12px 30px;
  border-radius: 14px;
  border: 1px solid yellowgreen;
  margin-bottom: 13px;
  cursor: pointer;
}
#result {
  padding: 30px;
}

.result {
  background-color: aliceblue;
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 520px;
  height: 390px;
  margin: 100px 450px;
}

.result img {
  width: 100px;
}

.result h3 {
  margin: 20px 0 40px 0;
}

.result button {
  padding: 10px 40px;
  background-color: rgba(0, 128, 0, 0.531);
  cursor: pointer;
  border-radius: 16px;
  border: none;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
